*/.vs/
*/*/.vs/
Section_03/BuildingEscape/Binaries
Section_03/BuildingEscape/Build
Section_03/BuildingEscape/Intermediate
Section_03/BuildingEscape/Saved
Section_03/BuildingEscape/Binaries
Section_03/BuildingEscape/*.db